{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{css,scss,sass,less}": [
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write --ignore-path .prettierignore"
  ]
}